<div class="row">
  
    <div class="col-6">
      
        <%= f.input :nome, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "nome",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.association :estado, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
      
    </div>
  
</div>
