<div class="row">
  <div class="col-12">
    <%= f.input :nome, wrapper: :vertical_form, input_html: { class: "keyup", placeholder: "nome", disabled: local_assigns[:disabled] } %>
  </div>

  <div class="col-12">
    <%= f.association :modalidade, wrapper: :vertical_form, input_html: { disabled: local_assigns[:disabled] } %>
  </div>
    <div class="col-12">
    <%= f.association :categoria, wrapper: :vertical_form, input_html: { disabled: local_assigns[:disabled] } %>
  </div>

  <div class="col-12">
    <%= f.association :atletas, 
        as: :check_boxes, 
        wrapper: :vertical_form,
        input_html: { disabled: local_assigns[:disabled] } %>
  </div>
</div>
