<div class="row">

  <div class="col-12">
  
    <%= f.input :numero, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "numero",disabled: local_assigns[:disabled] } %>
  
  </div>

</div>
