<div class="modal fade confirm-delete-modal" id="confirmDeleteModal" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content p-2">
      <div class="modal-header py-1 px-2">
        <h5 class="modal-title" id="confirmDeleteLabel">Confirmação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-1 px-2">Tem certeza que deseja excluir?</div>
      <div class="modal-footer d-flex justify-content-start py-1 px-2 gap-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="post" data-turbo="false" class="d-inline m-0">
          <input type="hidden" name="_method" value="delete">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
