<h1><%= t('common.new') %> <%= t('activerecord.models.categoria.one') %></h1>

<%= render 'form', categoria: @categoria %>

<%= link_to t('common.back'), categorias_path, class: 'btn btn-outline-secondary mt-3' %>
