<%= form_with(model: cidade) do |f| %>
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
    <div class="card">
      <div class="card-body p-4">
        <%= render 'shared/model_errors', object: @cidade %>
        <div class="row g-3">
          <%= render "cidade", f: f %>
        </div>
      </div>
    </div>
  </div>
<% end %>
