<div class="nested-fields row mb-2">
  <div class="col-md-4">
    <%= f.collection_select :federacao_id, Federacao.all, :id, :nome, { prompt: "Selecione a Federação" }, class: "form-select" %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :numero, placeholder: "Número da Federação", class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= link_to  "Remover",federacao_path(f) , class: "btn btn-danger" %>
  </div>
</div>
